<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #3 - Use the same list display from search.html -->

    <table th:each="job : ${jobs}" th:class="job-listing">
        <tr th:each="detail : ${job}">
            <td th:text="${#strings.capitalizeWords(detail.key)}"></td>
            <td th:text="${detail.value}"></td>
        </tr>
    </table>

</div>

</body>
</html>