<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">

        <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == searchType}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input th:value="${searchTerm}" type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <span th:if="${jobs}">
    <h3 th:text="${jobs.size()} + ' Result(s)'"></h3>
    </span>


    <!-- TODO #2 - Loop over jobs map to display all job fields -->
    <table th:each="job : ${jobs}" th:class="job-listing">
        <tr th:each="detail : ${job}">
            <td th:text="${#strings.capitalizeWords(detail.key)}"></td>
            <td th:if="${detail.key != 'name'}"><a th:href="@{/list/jobs(column=${detail.key},value=${detail.value})}" th:text="${detail.value}"></a></td>
            <td th:if="${detail.key == 'name'}"><span th:text="${detail.value}"></span></td>
        </tr>
    </table>
</div>

</body>
</html>